html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.11em;
}

body {
  background-color: #000002;
  color: white;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

#main {

}

#header, .bar_header {
  font-weight: 800;
  padding: 20px;
}

.bar_group, .bar_header {
  width: 100%;
  display: block;
  padding-bottom: 0;
}

.bar {
  border: 1px solid #262626;
  min-height: 1.5em;
  padding: 1em;
  background-color: #3A3A3A;
  margin-bottom: 1em;
  position: relative;
}

.bar_progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4186fc;
  z-index: 1;
}

.bar_location {
  position: relative;
}

.bar_description {
  display: none;
  position: relative;
}

.bar_timer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.bar_header, .bar_location, .bar_description, .bar_timer {
  z-index: 2;
}

.cent {
  height: 200px;
  width: 200px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3em;
}

@-moz-keyframes pulse {
    50% {
        background-color: #aaa;
    }
}

@-ms-keyframes pulse {
    50% {
        background-color: #aaa;
    }
}

@-o-keyframes pulse {
    50% {
        background-color: #aaa;
    }
}

@-webkit-keyframes pulse {
    50% {
        background-color: #aaa;
    }
}

@keyframes pulse {
    50% {
        background-color: #aaa;
    }
}

.bar_progress {
    -webkit-transition: background-color 0.5s ease-out;
}

.bar_progress.active {
  -moz-animation-name: pulse;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 4s;
    
    -ms-animation-name: pulse;
    -ms-animation-iteration-count: infinite;
    -ms-animation-duration: 4s;
    
    -o-animation-name: pulse;
    -o-animation-iteration-count: infinite;
    -o-animation-duration: 4s;
    
    -webkit-animation-name: pulse;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
    
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
