body, #main {
  background-color: #000002;
  color: white;
  height: 100%;
  width: 100%;
}

#main {

  
}

#bar_background {
  background-color: #161416;
}

#bar_filler {
  background-color: #1E31FB;
}
