html, body, #main {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000002;
  color: white;
  font-weight: bold;
}

#main {

  
}

#header {
  font-weight: 800;
  padding: 20px;
}

.bar {
  border: 1px solid #dddddd;
  height: 70px;
  padding: 10px 10px 10px 20px;
  background-color: #161416;
}

#bar_filler {
  background-color: #1E31FB;
}

.cent {
  height:200px;
  width:200px;
  margin:auto;
  position:absolute;
  top:50%;
  left:50%;
  font-size: 3em;
  
  }
